/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

body
  background-image: url(https://wallpaperaccess.com/full/568265.jpg)
  
.home .hero img
  max-width 450px!important
